$font-family: 'Roboto', 'Montserrat', sans-serif;
$bg-color: #fefcfe;
$text-color: #4a4a4a;
$gray-color: #ddd;
$light-gray-color: #f6f6f5;
$teal-color: #00a4bd;
$orange-color: #ff6102;
$blue-color: #019ade;
$white-color: #ffffff;